<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>GX400_4_8_dqxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>553</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>419</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdlbgsqhpsq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>69</integer>
			<key>y</key>
			<integer>816</integer>
			<key>width</key>
			<integer>275</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcktzljl</string>
		</dict>
	</array>
</dict>
</plist>
