<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcqdzfcz</string>
			<key>width</key>
			<integer>249</integer>
			<key>x</key>
			<integer>425</integer>
			<key>y</key>
			<integer>580</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RX200t_270_6_cdxt</string>
</dict>
</plist>
