<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcxjqjhfcz</string>
			<key>width</key>
			<integer>300</integer>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>449</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcqxjhhxj</string>
			<key>width</key>
			<integer>303</integer>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>643</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RX200t_270_350_2_10_xjxt</string>
</dict>
</plist>
