<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdpd</string>
			<key>width</key>
			<integer>199</integer>
			<key>x</key>
			<integer>34</integer>
			<key>y</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcxdc</string>
			<key>width</key>
			<integer>303</integer>
			<key>x</key>
			<integer>726</integer>
			<key>y</key>
			<integer>483</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RX200t_270_350_1_5_7_fdjxt</string>
</dict>
</plist>
