<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
			<key>width</key>
			<integer>323</integer>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>449</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
			<key>width</key>
			<integer>326</integer>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>570</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
			<key>width</key>
			<integer>327</integer>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>688</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdyyl</string>
			<key>width</key>
			<integer>224</integer>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>828</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
			<key>width</key>
			<integer>322</integer>
			<key>x</key>
			<integer>801</integer>
			<key>y</key>
			<integer>518</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RX200t_270_350_2_10_zdxt</string>
</dict>
</plist>
