<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdlbgsqhpsq</string>
			<key>width</key>
			<integer>406</integer>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcktlqqqj</string>
			<key>width</key>
			<integer>267</integer>
			<key>x</key>
			<integer>233</integer>
			<key>y</key>
			<integer>517</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcktzljl</string>
			<key>width</key>
			<integer>247</integer>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>826</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RX200t_270_350_4_8_dqxt</string>
</dict>
</plist>
