<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdpd</string>
			<key>width</key>
			<integer>199</integer>
			<key>x</key>
			<integer>34</integer>
			<key>y</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcpqghazj</string>
			<key>width</key>
			<integer>271</integer>
			<key>x</key>
			<integer>265</integer>
			<key>y</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcryxgrygljthrykzf</string>
			<key>width</key>
			<integer>556</integer>
			<key>x</key>
			<integer>565</integer>
			<key>y</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcfdjlqyl</string>
			<key>width</key>
			<integer>301</integer>
			<key>x</key>
			<integer>89</integer>
			<key>y</key>
			<integer>415</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jckqlqq</string>
			<key>width</key>
			<integer>301</integer>
			<key>x</key>
			<integer>586</integer>
			<key>y</key>
			<integer>308</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jclqhjrxt</string>
			<key>width</key>
			<integer>301</integer>
			<key>x</key>
			<integer>588</integer>
			<key>y</key>
			<integer>393</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcxdc</string>
			<key>width</key>
			<integer>301</integer>
			<key>x</key>
			<integer>726</integer>
			<key>y</key>
			<integer>481</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RX200t_270_350_4_8_fdjxt</string>
</dict>
</plist>
