<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>1_3_5_7_9_zdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>526</integer>
			<key>y</key>
			<integer>516</integer>
			<key>width</key>
			<integer>341</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>717</integer>
			<key>width</key>
			<integer>343</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>31</integer>
			<key>y</key>
			<integer>817</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdyyl</string>
		</dict>
	</array>
</dict>
</plist>
