<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>2_6_10_lt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>792</integer>
			<key>width</key>
			<integer>411</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jclthbthcqyl</string>
		</dict>
	</array>
</dict>
</plist>
