<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>27</integer>
		<key>width</key>
		<integer>65</integer>
		<key>height</key>
		<integer>69</integer>
		<key>offset</key>
		<integer>-5</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>101</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>78</integer>
		<key>height</key>
		<integer>78</integer>
		<key>offset</key>
		<integer>-4</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>215</integer>
		<key>y</key>
		<integer>80</integer>
		<key>width</key>
		<integer>88</integer>
		<key>height</key>
		<integer>88</integer>
		<key>offset</key>
		<integer>-3</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>382</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>113</integer>
		<key>height</key>
		<integer>113</integer>
		<key>offset</key>
		<integer>-2</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>621</integer>
		<key>y</key>
		<integer>80</integer>
		<key>width</key>
		<integer>150</integer>
		<key>height</key>
		<integer>150</integer>
		<key>offset</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1287</integer>
		<key>y</key>
		<integer>80</integer>
		<key>width</key>
		<integer>150</integer>
		<key>height</key>
		<integer>150</integer>
		<key>offset</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1548</integer>
		<key>y</key>
		<integer>76</integer>
		<key>width</key>
		<integer>113</integer>
		<key>height</key>
		<integer>113</integer>
		<key>offset</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1704</integer>
		<key>y</key>
		<integer>45</integer>
		<key>width</key>
		<integer>88</integer>
		<key>height</key>
		<integer>88</integer>
		<key>offset</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1833</integer>
		<key>y</key>
		<integer>20</integer>
		<key>width</key>
		<integer>65</integer>
		<key>height</key>
		<integer>69</integer>
		<key>offset</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
