<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>发动机机油更换49</key>
	<string>change1</string>
	<key>放油堵垫片更换</key>
	<string>change2</string>
	<key>分动器放油堵垫片更换</key>
	<string>change3</string>
	<key>分动器油更换</key>
	<string>change4</string>
	<key>后差速器放油堵垫片更换</key>
	<string>change5</string>
	<key>后差速器油更换</key>
	<string>change6</string>
	<key>机油滤清器更换1</key>
	<string>change7</string>
	<key>空气滤清器更换166</key>
	<string>change8</string>
	<key>前空调滤芯更换657</key>
	<string>change9</string>
	<key>燃油滤清器更换294</key>
	<string>change10</string>
	<key>燃油添加剂更换</key>
	<string>change11</string>
	<key>燃油吸入管衬垫更换30</key>
	<string>change12</string>
	<key>制动液更换1</key>
	<string>change13</string>
	<key>E型圈更换51</key>
	<string>change14</string>
	<key>O型圈1更换</key>
	<string>change15</string>
	<key>O型圈2更换</key>
	<string>change16</string>
	<key>火花塞更换320</key>
	<string>change17</string>
	<key>含燃油滤清器的吸油盘总成855</key>
	<string>change18</string>
	<key>燃油泵计量器挡圈</key>
	<string>change19</string>
	<key>O型圈3更换</key>
	<string>change20</string>
	<key>分动器油堵垫片更换</key>
	<string>change21</string>
	<key>燃油泵滤清器油封</key>
	<string>change22</string>
	<key>火花塞套管密封圈</key>
	<string>change23</string>
	<key>前空调滤芯更换501</key>
	<string>change24</string>
	<key>火花塞更换125</key>
	<string>change25</string>
	<key>火花塞更换150</key>
	<string>change26</string>
	<key>火花塞更换148</key>
	<string>change27</string>
	<key>燃油吸入管衬垫更换40</key>
	<string>change28</string>
	<key>燃油吸入管衬垫更换163</key>
	<string>change29</string>
	<key>空气滤清器更换306</key>
	<string>change30</string>
	<key>E型圈更换42</key>
	<string>change31</string>
	<key>含燃油滤清器的吸油盘总成628</key>
	<string>change32</string>
	<key>空气滤清器更换168</key>
	<string>change33</string>
	<key>空气滤清器更换312</key>
	<string>change34</string>
	<key>燃油滤清器更换357</key>
	<string>change35</string>
	<key>发动机机油更换54</key>
	<string>change36</string>
	<key>发动机机油更换44</key>
	<string>change37</string>
	<key>机油滤清器更换2</key>
	<string>change38</string>
	<key>制动液更换2</key>
	<string>change39</string>
	<key>燃油滤清器更换1526</key>
	<string>change40</string>
	<key>燃油吸入管衬垫更换121</key>
	<string>change41</string>
	<key>火花塞更换163</key>
	<string>change42</string>
	<key>火花塞套管密封圈1更换</key>
	<string>change43</string>
	<key>空气滤清器更换151</key>
	<string>change44</string>
	<key>空调滤清器更换</key>
	<string>change45</string>
	<key>燃油滤清器更换1234</key>
	<string>change46</string>
	<key>火花塞更换149</key>
	<string>change47</string>
</dict>
</plist>
