<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>4_8_hhdlxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>26</integer>
			<key>width</key>
			<integer>210</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdpd</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>26</integer>
			<key>width</key>
			<integer>278</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcpqghazj</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>544</integer>
			<key>y</key>
			<integer>26</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jctg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>540</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jaryxgrygljthrykzf</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>664</integer>
			<key>y</key>
			<integer>260</integer>
			<key>width</key>
			<integer>330</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcdlkzdylqy</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>796</integer>
			<key>y</key>
			<integer>310</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jclqhjrxt</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>394</integer>
			<key>width</key>
			<integer>282</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcfdjlqyl</string>
		</dict>
	</array>
</dict>
</plist>
