<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>12_cdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>370</integer>
			<key>y</key>
			<integer>600</integer>
			<key>width</key>
			<integer>306</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcbsqysfxl</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>630</integer>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcqdzfct</string>
		</dict>
	</array>
</dict>
</plist>
