<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
			<key>width</key>
			<integer>321</integer>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>451</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
			<key>width</key>
			<integer>327</integer>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>573</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
			<key>width</key>
			<integer>324</integer>
			<key>x</key>
			<integer>209</integer>
			<key>y</key>
			<integer>687</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
			<key>width</key>
			<integer>320</integer>
			<key>x</key>
			<integer>803</integer>
			<key>y</key>
			<integer>514</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RX450h_4_8_12_zdxt</string>
</dict>
</plist>
