<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcxjqjhfcz</string>
			<key>width</key>
			<integer>299</integer>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcqxjhhxj</string>
			<key>width</key>
			<integer>281</integer>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>642</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RX450h_4_8_12_xjxt</string>
</dict>
</plist>
