<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>GS200t_250_350_350(AWD)_1_5_7_9_fdjxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>125</integer>
			<key>width</key>
			<integer>255</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcxdc</string>
		</dict>
	</array>
</dict>
</plist>
