<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>GS200t_250_350_350(AWD)_3_zdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>748</integer>
			<key>y</key>
			<integer>609</integer>
			<key>width</key>
			<integer>352</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>641</integer>
			<key>width</key>
			<integer>348</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>818</integer>
			<key>width</key>
			<integer>271</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdyyl</string>
		</dict>
	</array>
</dict>
</plist>
