<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>2_6_10_14_zdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>495</integer>
			<key>width</key>
			<integer>333</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>327</integer>
			<key>y</key>
			<integer>578</integer>
			<key>width</key>
			<integer>337</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>396</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>334</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>711</integer>
			<key>width</key>
			<integer>333</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>818</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdyyl</string>
		</dict>
	</array>
</dict>
</plist>
