<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>2_6_10_14_dqxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>437</integer>
			<key>width</key>
			<integer>419</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdlbgsqhpsq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>802</integer>
			<key>y</key>
			<integer>420</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jc12vxdc</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>31</integer>
			<key>y</key>
			<integer>817</integer>
			<key>width</key>
			<integer>259</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcktzljl</string>
		</dict>
	</array>
</dict>
</plist>
