<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>2_6_10_14_zdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>706</integer>
			<key>y</key>
			<integer>493</integer>
			<key>width</key>
			<integer>337</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>577</integer>
			<key>width</key>
			<integer>336</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>338</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>707</integer>
			<key>width</key>
			<integer>332</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
		</dict>
	</array>
</dict>
</plist>
