<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>GS450h_350h_4_8_zdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>753</integer>
			<key>y</key>
			<integer>505</integer>
			<key>width</key>
			<integer>335</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>458</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>336</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>612</integer>
			<key>y</key>
			<integer>639</integer>
			<key>width</key>
			<integer>333</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>693</integer>
			<key>width</key>
			<integer>332</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
		</dict>
	</array>
</dict>
</plist>
