<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>GS450h_350h_12_fdjxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>31</integer>
			<key>y</key>
			<integer>26</integer>
			<key>width</key>
			<integer>207</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdpd</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>250</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>276</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcpqghazj</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>540</integer>
			<key>y</key>
			<integer>27</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jctg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>451</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>540</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcryxgrygljthrykzf</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>442</integer>
			<key>width</key>
			<integer>335</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcdlkzdylqy</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>528</integer>
			<key>width</key>
			<integer>287</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jclqhjrxt</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>603</integer>
			<key>width</key>
			<integer>286</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcfdjlqyl</string>
		</dict>
	</array>
</dict>
</plist>
