<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>GS450h_350h_4_8_cdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>510</integer>
			<key>y</key>
			<integer>604</integer>
			<key>width</key>
			<integer>270</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcqdzfct</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>57</integer>
			<key>y</key>
			<integer>816</integer>
			<key>width</key>
			<integer>309</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccsqysfxl</string>
		</dict>
	</array>
</dict>
</plist>
