<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>GS450h_350h_2_6_10_zdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>756</integer>
			<key>y</key>
			<integer>508</integer>
			<key>width</key>
			<integer>332</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>460</integer>
			<key>y</key>
			<integer>583</integer>
			<key>width</key>
			<integer>347</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>612</integer>
			<key>y</key>
			<integer>642</integer>
			<key>width</key>
			<integer>336</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>381</integer>
			<key>y</key>
			<integer>692</integer>
			<key>width</key>
			<integer>341</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>816</integer>
			<key>width</key>
			<integer>292</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jzzdyyl</string>
		</dict>
	</array>
</dict>
</plist>
