<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>LX570_8_zdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>274</integer>
			<key>y</key>
			<integer>530</integer>
			<key>width</key>
			<integer>342</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>575</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>45</integer>
			<key>y</key>
			<integer>812</integer>
			<key>width</key>
			<integer>328</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>758</integer>
			<key>y</key>
			<integer>550</integer>
			<key>width</key>
			<integer>351</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
		</dict>
	</array>
</dict>
</plist>
