<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>LX570_2_fdjxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>22</integer>
			<key>y</key>
			<integer>22</integer>
			<key>width</key>
			<integer>209</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdpd</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>22</integer>
			<key>width</key>
			<integer>278</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcpqghazj</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>257</integer>
			<key>width</key>
			<integer>215</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jckqlqq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>431</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcxdc</string>
		</dict>
	</array>
</dict>
</plist>
