<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>IS200t_6_zdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>773</integer>
			<key>y</key>
			<integer>457</integer>
			<key>width</key>
			<integer>326</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>540</integer>
			<key>width</key>
			<integer>331</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>607</integer>
			<key>y</key>
			<integer>567</integer>
			<key>width</key>
			<integer>339</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>687</integer>
			<key>y</key>
			<integer>629</integer>
			<key>width</key>
			<integer>329</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>817</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdyyl</string>
		</dict>
	</array>
</dict>
</plist>
