<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>IS200t_4_8_hhdlxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>27</integer>
			<key>y</key>
			<integer>26</integer>
			<key>width</key>
			<integer>209</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdpd</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>250</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>278</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcpqghazj</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>543</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jctg</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>239</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>193</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcxdc</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>443</integer>
			<key>y</key>
			<integer>187</integer>
			<key>width</key>
			<integer>517</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcryxgrygljthrykzf</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>284</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcfdjlqyl</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>127</integer>
			<key>y</key>
			<integer>431</integer>
			<key>width</key>
			<integer>237</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jckqlqq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>785</integer>
			<key>y</key>
			<integer>492</integer>
			<key>width</key>
			<integer>310</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jclqhjrxt</string>
		</dict>
	</array>
</dict>
</plist>
