<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>LS600hl_14_hhdlxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>23</integer>
			<key>y</key>
			<integer>19</integer>
			<key>width</key>
			<integer>212</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jccdpd</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>19</integer>
			<key>width</key>
			<integer>282</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcpqghazj</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>356</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>237</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jckqlqq</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>618</integer>
			<key>y</key>
			<integer>516</integer>
			<key>width</key>
			<integer>276</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jclqhjrxt</string>
		</dict>
	</array>
</dict>
</plist>
