<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>LS600hl_2_6_cdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>505</integer>
			<key>width</key>
			<integer>273</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jchcsqy</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>676</integer>
			<key>y</key>
			<integer>557</integer>
			<key>width</key>
			<integer>268</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcqcsqy</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>827</integer>
			<key>y</key>
			<integer>660</integer>
			<key>width</key>
			<integer>262</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcqdzfct</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>39</integer>
			<key>y</key>
			<integer>809</integer>
			<key>width</key>
			<integer>288</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcfdqydyw</string>
		</dict>
	</array>
</dict>
</plist>
