<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<string>IS250_250c_4_8_cdxt</string>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>x</key>
			<integer>682</integer>
			<key>y</key>
			<integer>632</integer>
			<key>width</key>
			<integer>267</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jcqdzfct</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>511</integer>
			<key>y</key>
			<integer>573</integer>
			<key>width</key>
			<integer>257</integer>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdbsqy</string>
		</dict>
	</array>
</dict>
</plist>
