<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
			<key>width</key>
			<integer>328</integer>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>434</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdyyl</string>
			<key>width</key>
			<integer>224</integer>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>828</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
			<key>width</key>
			<integer>322</integer>
			<key>x</key>
			<integer>470</integer>
			<key>y</key>
			<integer>474</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
			<key>width</key>
			<integer>327</integer>
			<key>x</key>
			<integer>759</integer>
			<key>y</key>
			<integer>398</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
			<key>width</key>
			<integer>326</integer>
			<key>x</key>
			<integer>732</integer>
			<key>y</key>
			<integer>524</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RC200t_2_10_zdxt</string>
</dict>
</plist>
