<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdglhrg</string>
			<key>width</key>
			<integer>325</integer>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>435</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
			<key>width</key>
			<integer>322</integer>
			<key>x</key>
			<integer>470</integer>
			<key>y</key>
			<integer>473</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
			<key>width</key>
			<integer>325</integer>
			<key>x</key>
			<integer>733</integer>
			<key>y</key>
			<integer>526</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdmcphzdg</string>
			<key>width</key>
			<integer>326</integer>
			<key>x</key>
			<integer>758</integer>
			<key>y</key>
			<integer>398</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RC200t_4_8_zdxt</string>
</dict>
</plist>
