<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot_zone</key>
	<array>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdtbhzczdq</string>
			<key>width</key>
			<integer>322</integer>
			<key>x</key>
			<integer>472</integer>
			<key>y</key>
			<integer>474</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdyyl</string>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>826</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>img</key>
			<string>jczdcbhzdp</string>
			<key>width</key>
			<integer>335</integer>
			<key>x</key>
			<integer>723</integer>
			<key>y</key>
			<integer>523</integer>
		</dict>
	</array>
	<key>img</key>
	<string>RC200t_1_5_7_zdxt</string>
</dict>
</plist>
